ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

#id-selector-demo{color:green;}

p[value]{color: blue;}

*{text-align: center;}

/* Write your CSS below, don't change the rules above. */
